#a{
    height: 1000px;
    width: 1000px;
    background-color:rgba(191, 146, 117, 0.55);
}
#b{
    height: 500px;
    width: 500px;
    background-color:rgba(142, 186, 190, 0.55);
}
#c{
    height: 250px;
    width: 250px;
    background-color: rgb(179, 175, 207);
}
#d{
    height: 125px;
    width: 125px;
    background-color:   rgb(206, 178, 124);
}