#a{
    height: 1000px;
    width: 1000px;
    background-color:rgba(255, 0, 0, 1);
}
#b{
    height: 500px;
    width: 500px;
    background-color:rgba(0, 255, 0, 1);
}
#c{
    height: 250px;
    width: 250px;
    background-color: rgb(0, 0, 255);
}
#d{
    height: 125px;
    width: 125px;
    background-color:  yellow;
}